@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.mapa{
    display: flex;
    flex-direction: column;

    padding: 0;

    background-color: #e8e5de;
}

.mapa-container{
    display: flex;

    padding: 0 32px;
    align-items: center;
    gap: 4em;
}


.mapa-texto{
    border: double 7px #1c3e37;
    width: 50%;
    height: 100%;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;

    color: #393938;

    text-align: center;
}

.mapa-texto ul{
    padding: 0;
    height: 100%;
}

.titulo{
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-size: 64px;

    position: relative;

    z-index: 0;

    top: -30px;

    text-align: center;

    color: #1c3f39;

    margin:0;

    display: none;
}

.titulo-lg{
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-size: 64px;

    text-align: center;

    color: #1c3f39;

    margin:0;
}

.mapa-texto li{
    list-style: none;
    margin: 16px 0;
}

.mapa img{
    width: 50%;
}

@media (max-width: 480px){
    .mapa{
        flex-direction: column;
        padding: 8px;
    }

    .mapa-texto{
        width: 100%;
    }

    .titulo{
        display: block;
        top: 32px;
    }

    .titulo-lg{
        display: none;
    }

    .mapa-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 32px;
        align-items: center;
        gap: 4em;
    }

    .mapa-container img{
        width: 100%;
    }
}